     * {
         margin: 0;
         padding: 0;
         font-family: 'Open Sans', sans-serif;
     }

     body {
         background-color: #f3f2ef;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .header {
         width: 100%;
         position: sticky;
         top: 0;
         z-index: 999;
         display: flex;
         justify-content: space-evenly;
         border-bottom: 0.1px solid #caccce;
         padding: 10px;
         background-color: white;
     }

     .header-left img {
         object-fit: contain;
         height: 40px;
         margin-right: 10px;
     }

     .header-left {
         display: flex;
     }

     .header-right {
         display: flex;
     }

     .header-search {
         padding: 10px;
         display: flex;
         align-items: center;
         border-radius: 5px;
         height: 22px;
         color: gray;
         background-color: #eef3f8;
     }

     .header-search input {
         outline: none;
         border: none;
         background: none;
     }

     .header-options {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-right: 20px;
         color: gray;
         cursor: pointer;
     }

     .header-options:hover {
         color: black;
     }

     .header-options h3 {
         font-size: 12px;
         margin-top: 10px;
         font-weight: 400;
     }

     .header-options-icon {
         margin-right: 5px;
         height: 20px;
         width: 20px;
     }

     .main-body {
         display: flex;
         margin-top: 35px;
         max-width: 1200px;
         margin-left: 20px;
         margin-right: 20px;
     }

     .sidebar {
         position: sticky;
         top: 80px;
         flex: 0.2;
         border-radius: 10px;
         text-align: center;
         height: fit-content;
     }

     .sidebar-top img {
         margin-bottom: -20px;
         width: 100%;
         height: 60px;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         object-fit: cover;
     }

     .sidebar-top {
         display: flex;
         flex-direction: column;
         align-items: center;
         border: 1px solid #caccce;
         border-bottom: 0;
         background-color: white;
         padding-bottom: 10px;
     }

     .sidebar-topAvatar {
         font-size: 40px;
     }

     .sidebar-stats {
         padding: 10px;
         margin-bottom: 10px;
         border: 1px solid #caccce;
         background-color: white;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
     }

     .sidebar-stat {
         margin: 10px;
         display: flex;
         justify-content: space-between;
     }

     .sidebar-stat p {
         color: gray;
         font-size: 12px;
         font-weight: 600;
         margin-left: -10px;
     }

     .sidebar-stat-number {
         font-weight: bold;
         color: #0a66c2 !important;
     }

     .sidebar-top h4 {
         color: gray;
         font-size: 12px;
         margin-top: 5px;
     }

     .sidebar-top h2 {
         font-size: 18px;
     }

     .sidebar-bottom {
         text-align: left;
         padding: 10px;
         border: 1px solid #caccce;
         border-radius: 10px;
         margin-top: 10px;
         background-color: white;
     }

     .sidebar-recent-item {
         display: flex;
         font-size: 13px;
         color: gray;
         font-weight: bolder;
         cursor: pointer;
         margin-bottom: 5px;
         padding: 5px;
     }

     .sidebar-recent-item:hover {
         background-color: whitesmoke;
         border-radius: 10px;
         cursor: pointer;
         color: black;
     }

     .sidebar-hash {
         margin: 0 10px;
     }

     .sidebar-bottom p {
         font-size: 14px;
         padding-bottom: 10px;
     }

     /* news feed */

     .feed {
         flex: 0.6;
         margin: 0 20px;
     }

     .feed-input-container {
         background-color: white;
         padding: 10px;
         padding-bottom: 20px;
         border-radius: 10px;
         margin-bottom: 20px;
     }

     .feed-input {
         border: 1px solid #caccce;
         border-radius: 30px;
         display: flex;
         padding: 10px;
         color: gray;
         padding-left: 15px;
         width: 90%;
     }

     .feed-input form {
         display: flex;
         width: 100%;
     }

     .feed-input form input {
         border: none;
         flex: 1;
         margin-left: 10px;
         outline-width: 0;
         font-weight: 600;
         width: 100%;
     }

     .avatar {
         display: flex;
         justify-content: flex-start;
     }

     .feed-input-option {
         display: flex;
         justify-content: space-evenly;
     }

     .input-option {
         display: flex;
         align-items: center;
         margin-top: 15px;
         color: gray;
         padding: 10px;
         cursor: pointer;
     }

     .input-option:hover {
         background-color: whitesmoke;
         border-radius: 10px;
     }

     .input-option h4 {
         margin-left: 5px;
         font-size: 12px;
     }

     /* post */
     .post {
         background-color: white;
         padding: 15px;
         margin-bottom: 10px;
         border-radius: 10px;
     }

     .post-header {
         display: flex;
         margin-bottom: 10px;
     }

     .post-info {
         margin-left: 10px;
     }

     .post-info p {
         font-size: 12px;
         color: gray;
     }

     .post-info h2 {
         font-size: 15px;
     }

     .post-body {
         font-size: 15px;
     }

     .post-img {
         object-fit: contain;
         height: 100%;
         width: 100%;
     }

     /* widgets */
     .widget {
         position: sticky;
         top: 80px;
         flex: 0.2;
         border-radius: 10px;
         border: 1px solid #caccce;
         height: fit-content;
         padding-bottom: 10px;
         background-color: white;
     }

     .widget-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px;
         background-color: white;
         border-radius: 10px;
     }

     .widget-header h2 {
         font-size: 16px;
         font-weight: 400;
     }

     .widget-article {
         display: flex;
         padding: 10px;
         cursor: pointer;
         background-color: white; 
     }

     .widget-article:hover {
         background-color: #caccce;
     }

     .widget-article-left {
         /* color: #0177b7; */

         margin-right: 5px;
     }

     .widget-article-left material-icons {
         font-size: 10px;
     }

     .widget-article-right {
         flex: 1;
     }

     .widget-article-right h4 {
         font-size: 13px;
     }

     .widget-article-right p {
         font-size: 12px;
         color: gray;
     }

     .sidebar-stat-save-item{
        margin: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: gray;
     }

      
     